/* 
html 참고
*/

* {
    box-sizing: border-box;
}
/* div {
    width: 500px;
    height: 300px;
    border: solid gray 3px;
    border-radius: 10px;
    margin: 10px;
    font-size: 30px;
    overflow: scroll;
} */
p {
    border: none;
    border-radius: 10px;
    background-color: rgb(88, 167, 88);
    color: rgb(255, 255, 255);
    text-align: center;
}
