* {
    box-sizing: border-box;
}
.pa {
    width: 200px;
    margin: 0 auto;
    background-color: rgb(182, 182, 182);
    /* overflow: hidden; */
}
/* .pa::after {
    content: "";
    display: block;
    clear: left;
} */
.child {
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    /* float: left; */
}

.one {
    /* width: 100px; */
    /* height: 40px; */
    /* float: left; */
    background-color: rgb(255, 198, 227);
    color: black;
    position: relative; /*위치가 변경되도 자리는 잡아놓음*/
    top: 50px;
    right: 50px;
}
.two {
    background-color: rgb(250, 247, 150);
    color: black;
}
.three {
    background-color: rgb(113, 218, 113);
}
/* .other {
    background-color: rgb(217, 245, 228);
} */
/* .pseudo::after {
    content: "";
    font-size: 3px;
    background-color: rgb(209, 245, 245);
    clear: left;
} */
